<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--The 'static' argument is an endpoint for rendering urls, not where it looks at(it is by default but it's not defined here)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <title>THE CORI EXPERIENCE</title>
</head>
<body>
    <div class="content-wrapper"></div>
        <header>
            <h1>THE CORI EXPERIENCE</h1>
            <img id="cori-glasses" src="static/images/lentes_cori.png" alt="lentes del cori">
        </header>

        <main>
            <div id="options">
                
            </div>
            <div id="options-18">
                <img src="" alt="">

            </div>
        </main>

        <footer>
            <p>© 2024 MIRONES S.A.C. Todos los derechos reservados.</p>
            <img id="footer-banner" src="static/images/baby_yoda.png" alt="Baby Yoda fumon">    
        </footer>
    <script src="main.js"></script>
</body>
</html>